<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/stream_movies"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieAPI"
        tools:targetApi="31">
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="Register"/>
        <activity
            android:name=".MainActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Stream Movies">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity_about"
            android:exported="false"
            android:label="about" />
        <activity
            android:name=".activity_setting"
            android:exported="false"
            android:label="setting" />
        <activity
            android:name=".activity_download"
            android:exported="false"
            android:label="download" />
    </application>

</manifest>